numpy
matplotlib
h5py
tqdm
datetime
opencv-python
psutil
ultralytics
scikit-learn
wandb
scikit-image
timm
huggingface_hub
scikit-image
openpyxl
keyboard
pupil-apriltags
asyncua
cloudinary
piexif

--extra-index-url https://download.pytorch.org/whl/cu118
torch 
torchvision
torchaudio